@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Tajawal', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-hover;
  }
  .btn-secondary {
    @apply bg-secondary text-slate-800 hover:bg-secondary-hover;
  }
}
